{
  "data": {
    "github-private-key": "REQUIRED",
    "webhook-proxy-url": "REQUIRED",
    "webhook-secret": "REQUIRED",
    "confluence-access-token": "",
    "confluence-username": "",
    "datadog-api-key": "",
    "datadog-app-key": "",
    "slack-webhook-url": "",

  }
}
