.App {
  background-color:whitesmoke;
  padding:1em;
  height:100vh;
  font-size:14px;
}

.app-container {
  height:100%;
}

.viewer {
  flex:1;
  display:flex;
}

.fyi-diagram {
  /* diagram styles */
}

.fyi-sidebar {
  margin-top:2em;
  padding-right: 2em;
}


.fyi-toolpane {
  padding-top:1em;
  padding-bottom:3em;
  border-left:1px solid lightgray;
  margin-bottom:1em;
}

.fyi-container {
  display:flex;
  flex-direction: column;
  align-content: stretch;
  background-color:white;
  border-radius: 5px;
  box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
  padding-top:1em;
  overflow-y:scroll;
}

.card-deck {
  margin-top:2em;
}

.fyi-container .table th {
  border-top:0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 576px) {
  .app-container {
    display:flex;
    flex-direction: column;
  }

  .fyi-container {
    flex:1;
  }
}

@media (min-width: 768px) {
  .app-container {
    flex-direction: row;
  }

  .fyi-container {
    height:100%;
  }
}
